<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Pet</title>
</head>
<body>
<main>
    <h1>ADD YOUR PET BELOW!</h1>
    <form method="post"
        th:action="@{InsertPet}" action="ConfirmInsert.html"
        th:object="${form}">

        <div th:if ="${#fields.errors('*')}/">
            <h3 class = "Error">Input error</h3>
            <ul>
                <li th:each = "e: ${#fields.errors('*')}" th:text="${e}"
                class = "error">Input Error</li>
            </ul>
        </div>
        <h2>Pet Name</h2>
        <p>
            <label for="pet_name" class="group_label">Pet Name</label><br>
            <input id="pet_name" type="text" th:field="*{petName}"/>
            <span th:if="${#fields.hasErrors('firstName')}"
                  class="error">&larr;&nbsp;<span th:errors="*{petName}">Pet Name Error</span></span>
        </p>
        <h2>Pet Info</h2>
        <p>
            <label for="pet_type" class="group_label">Pet Type</label><br>
            <select id="pet_type" th:field="*{petType}">
                <option th:each="p: ${programs}" th:value="${p}" th:text="${p}">--- Select Pet Type ---</option>
            </select>
            <span th:if="${#fields.hasErrors('petType')}"
                  class="error">&larr;&nbsp;<span th:errors="*{petType}">Pet Type Error</span></span>
        </p>
        <p>
            <label class="group_label">Gender</label><br>
            <span th:each="y: ${#numbers.sequence(1,2)}">
               <label><input type="radio" name="petGender" value="0"
                             th:field="*{petGender}" th:value="${y}"><span th:text="${y}">Male</span></label>
            </span>
            <!--/*-->
            <label><input type="radio" name="petGender" value="1">Female</label>
            <!--*/-->
            <span th:if="${#fields.hasErrors('petGender')}"
                  class="error">&larr;&nbsp;<span th:errors="*{petGender}">Pet Gender Error</span></span>
        </p>
        <p>
            <label class="group_label">Pet Vaccination</label><br>
            <label><input type="checkbox" th:field="*{petVaccinated}" th:value="yes"/>Vaccinated</label>
        </p>
        <p>
            <input type="reset" value="Clear"/>
            <input type="submit" value="Send"/>
        </p>
    </form>
    <p><a href="Index.html" th:href="@{Index}">Index</a></p>
    <p><a href="ListStudents.html" th:href="@{ListPet}">List Pet</a></p>
</main>

</body>
</html>